@model Com.ChinaPalmPay.Platform.RentCar.Model.Order

@{
    ViewBag.Title = "Select";
}

<h2>Select</h2>

@using (Html.BeginForm("Select","Order",FormMethod.Post)) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Order</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserID)
            @Html.ValidationMessageFor(model => model.UserID)
        </div>
        <p>
            <input type="submit" value="查询消息" />
        </p>
       </fieldset>
}
    
